/*
*/

.description {
  width: 600px;
  margin: 30px 0px 20px 0px;
}

a.not-ready {
  visibility: hidden;
}

ul.links {
  list-style: none;
}

ul.links li {
  padding: 10px 0px 4px 0px;
}

.clearfix {
  clear: both;
  width: 0px;
  height: 0px;
}