/*
*/

body {
  width: 1000px;
}

h1 {
  font-size: 25px;
  text-align: center;
}

.description {
  width: 900px;
  margin: 30px 0px 20px 0px;
}

.not-ready {
  visibility: hidden !important;
}

ul.links {
  list-style: none;
}

ul.links li {
  padding: 10px 0px 4px 0px;
}

.clearfix {
  clear: both;
  width: 0px;
  height: 0px;
}

.footer-description {
  margin-left: 80px;
  margin-top: 100px;
}

.under-construction {
  margin: 0px 0px 0px 60px;
  padding: 20px 0px 20px 138px;
  width: 400px;
  background: transparent url(../images/under-construction.png) left top no-repeat;
  min-height: 120px;
  border: solid 1px #E0E0E0;
}

.correct-work,
.incorrect-work
{
  font-weight: bold;
  font-style: italic;
}
